@charset "UTF-8";
/* CSS Document */

body{
  background: #FFFCFF;
  font-family: "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  margin:0;
}

.navbar {
  background-color: #25283D;
  position: fixed;
  top: 0;
  width: 100%
}
.navbar a:first-child{
  float: left;
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border-left: 1px solid #25283D;
}

.navbar a {
  float: right;
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border-left: 1px solid #25283D;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  padding: 20px 20px;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00BFB3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  /*padding: 20px 20px;*/
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #00BFB3;
  color: black;
}

.dropdown-content a:hover {
  background-color: #25283D;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*.content
{
	padding-top: 70px;
}*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
